<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devdesign.developer.ziptown">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyChzL_RETVgMiVI4poAZDP9OUDltyyweKU" />

        <activity
            android:name="com.devdesign.developer.ziptown.activities.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.devdesign.developer.ziptown.activities.UserProfileActivity" />
        <activity android:name="com.devdesign.developer.ziptown.activities.CurrentUserActivity" />
        <activity android:name="com.devdesign.developer.ziptown.activities.AddGenericPostActivity" />
        <activity android:name="com.devdesign.developer.ziptown.activities.SettingsActivity" />
        <activity android:name="com.devdesign.developer.ziptown.activities.SignUpActivity" />
        <activity android:name="com.devdesign.developer.ziptown.activities.LoginActivity" />
        <activity android:name="com.devdesign.developer.ziptown.activities.LandingPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.devdesign.developer.ziptown.activities.SearchResults" />
        <activity android:launchMode="singleTask" android:name="com.devdesign.developer.ziptown.activities.NetworkIssuesActivity"></activity>
    </application>

</manifest>